{% extends 'admin/base.html.twig' %}

{% block content %}

    <h2>Add Member</h2>
    <br>
    <form method="post">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Email Adresi</label>
            <input type="email" class="form-control" name="users[email]" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="users[password]" placeholder="password">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Name surname</label>
            <input type="text" class="form-control" name="users[name]" placeholder="Name surname">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Telephone</label>
            <input type="text" class="form-control" name="users[tel]" placeholder="Telephone">
        </div>
        <div class="form-group col-md-12">
            <label for="exampleInputPassword1">Adress</label>
            <input type="text" class="form-control" name="users[addres]" placeholder="Adress">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Type</label>
            <select name="users[type]" class="form-control">
                <option>Admin</option>
                <option>Member</option>
                <option>Accountant</option>
                <option>courier</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Status</label>
            <select name="users[status]" class="form-control">
                <option>True</option>
                <option>False</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">City</label>
            <input type="text" class="form-control" name="users[city]" placeholder="City">
        </div>

        <div class="form-group col-md-6 margin-top-30">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>

{% endblock %}