{% extends 'admin/base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block content %}
    <h1>Add New Region</h1>
    {{ include('admin/region/_form.html.twig') }}
{% endblock %}
